<div class="page-header">
    <div class="pull-right">
        <a class="p-2 text-dark {{activeDoctor}}" href="/doctor">Zdravnik</a>
        <a class="p-2 text-dark {{activePatient}}" href="/patient">Pacient</a>
        <button id="register" type="button" class="btn btn-primary">Registracija</button>
        <button id="login" type="button" class="hidden btn btn-default btn-success">Prijava</button>
        <button id="logout" type="button" class="hidden btn btn-danger">Odjava</button>
    </div>

    <h1>Prototip porazdeljene Solid aplikacije</h1>
</div>
