.media {
    padding: 5px;
}

#records.doctor-records .media:hover {
    cursor: pointer;
    background-color: #fff;
    -webkit-filter:  grayscale(100%) brightness(85%);
    /*margin: 5px -5px;*/
}
