.d-inline {
  display: inline-block;
}

body,
html {
  font-size: 16px;
}

.container {
  /*max-width: 1200px;*/
  /*width: 1200px;*/
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.text-dark {
  color: #343a40!important;
}

.p-2 {
  padding: .5rem!important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.page-header {
  margin: 25px 0;
}
  .page-header a {
    top: 3px;
    position: relative;
  }

  .page-header .btn {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .page-header .pull-right {
    top: 5px;
    position: relative;
  }

#btn-load-records,
#btn-load-patients {
  top: -5px;
  position: relative;
}

.pl-1 {
  padding-left: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

/* LOADER */
.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}


.loader span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #337ab7;
  margin: 35px 5px;
}

.loader span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

.loader span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.font-bold {
  font-weight: 600;
}

.media-heading .date {
  float: right;
}